{{- if or (eq .Values.database.type "mysql") (eq .Values.database.type "postgresql") -}}
{{- if not .Values.database.existingSecret -}}
{{- $fullName := include "bitwarden.fullname" . -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullName }}-database
  labels:
    app.kubernetes.io/name: {{ include "bitwarden.name" . }}
    helm.sh/chart: {{ include "bitwarden.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
  DATABASE_URL: {{ .Values.database.url | b64enc }}
{{- end }}
{{- end }}
